@import "tailwindcss";

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;

  /* Design tokens */
  --color-background: #ffffff;
  --color-foreground: #171717;
}

@layer base {
  html,
  body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  :root {
    --container-pad: 1rem;
  }
}
